<mat-card class="pin-card col-12">
  <span style="font-weight: bold">{{pin.prodUrl | hostnameToMarketplace}} </span>
  <mat-card-header class="pin-header">{{ pin.title}}</mat-card-header>
  <div class="row justify-content-center">
    <img [src]="pin.img" class="pin-image"/>
  </div>
  <div class="row justify-content-center">
    <mat-card-content class="price">{{pin.price | currency}}</mat-card-content>
  </div>

  <mat-card-actions>
    <div class="row justify-content-around">
      <button class="" mat-button (click)="openLink(pin.prodUrl)">VIEW</button>
      <button class="s delete-button" mat-button (click)="deletePin()">DELETE</button>
    </div>
  </mat-card-actions>
</mat-card>
