.pin-card {
  margin: 10px;
}

.url-input {
  width: 30vw;
}

.board-info {
  margin-top: 100px;
  /*position: fixed;*/
  /*left: 5%;*/
}

.supported-marketplaces {
  position: absolute;
  margin-left: 10px;
}

.filter-margin {
  margin-left: 10px;
}
