<div class="row justify-content-center">
<form (ngSubmit)="createNewBoard(boardName)">
  <mat-form-field class='board-name-input' >
    <mat-label>Board Name</mat-label>
    <input  [(ngModel)]="boardName" name="board-name" matInput placeholder="Wallet Wish's"/>
  </mat-form-field>
  <div class="row justify-content-center">
    <button type="submit" mat-raised-button color="primary">Create a new board</button>
  </div>

</form>

</div>
<div *ngIf="loading"  class="row justify-content-center ">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="viewed-boards">
  <div *ngFor="let boardId of visitedBoards" class="row col-12">
    <a [href]="'/boards/'+boardId"> You have visited {{boardId}}</a>
  </div>
</div>

